.chat-messages {
  flex: 1;
  overflow-y: auto;
  padding: 0px 8px 8px 8px;
  max-height: 100%;
}

.message {
  padding: 8px;
  border-radius: 16px;
  word-wrap: break-word;
  margin-top: 8px;
  margin-bottom: 8px;
}

.user-message {
  max-width: 50%;
  width: fit-content;
  background-color: var(--secondary-color);
  color: var(--primary-color);
  margin-left: auto;
}

.bot-message {
  max-width: 100%;
  text-align: left;
  color: var(--primary-color);
  margin-right: auto;
  display: flex;
  flex-direction: column-reverse;
}
